<script>
	export let content;
	export let handleDelete;
	</script>
	
	
	<style>
	  .todo {
		background-color: #f9f9f9;
		padding: 1rem;
		margin: 0.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }
	
	  .content {
		margin-right: 1rem;
		text-align: left;
	  }
	
	  .delete-btn {
		background: turquoise;
		border: none;
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;
	  }
	</style>
	
	
	<li class="todo">
	<div class="content">{content}</div>
	<button on:click={handleDelete} class="delete-btn">Delete</button>
	</li>