<script>
	import Button from "./Button.svelte";
	import TodoItem from "./TodoItem.svelte";
	import NewTodo from "./NewTodo.svelte";
  
	let todos = [
	  {
		id: 1,
		content: "Throw garbage away and then get the newspaper",
		completed: false
	  },
	  {
		id: 2,
		content: "Do the dishes",
		completed: false
	  }
	];
  
	function handleTodoDelete(id) {
	  todos = todos.filter(todo => todo.id !== id);
	}
  
	function handleAddNewTodo(content) {
	  todos = [
		...todos,
		{
		  id: todos.length + 1,
		  content,
		  completed: false
		}
	  ];
	}
  </script>
  
  <style>
	main {
	  max-width: 400px;
	  margin: 0 auto;
	  display: flex;
	  align-items: center;
	  flex-direction: column;
	  margin-top: 60px;
	  font-family: "Avenir", Helvetica, Arial, sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  color: #2c3e50;
	}
	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}
  </style>
  
  <main>
  <NewTodo onSubmit={handleAddNewTodo}/>
  <ul>
  {#each todos as todo}
	  <TodoItem content={todo.content} handleDelete= {() => handleTodoDelete(todo.id)} />
	{/each}
  </ul>
  </main>